@{
    ViewBag.Title = "Menu";
}

<!doctype html>
<html lang="en">
<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

</head>
<body style="background: #114357;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="width: 100%;">
        <div class="container">
            <a class="navbar-brand" style="font-size:25px;" href="/employees/Menu">Human Resources</a>
            <button class="navbar-toggler" style="font-size:20px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Employee
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Employees/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Employees/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Departament
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Departaments/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Departaments/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Position
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Positions/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Positions/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-info btn-lg mr-2 p-3" href="/Employees/Info">
                <i class="fas fa-info"></i> Info
            </a>
            <a class="btn btn-outline-success btn-lg p-3" href="/Employees/About">
                <i class="fas fa-user-alt"></i> About Me
            </a>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <!--Jumbotron-->
            <div class="col-12">
                <div class="jumbotron" style="margin-top:60px;">
                    <h1 class="display-4">Menu <i class="fas fa-hand-point-up"></i></h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="ModelFirsts/Info" role="button">Learn more</a>
                </div>
            </div>

            <!--Modulo de Mantenimiento-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-success display-4">Upkeep Module <i class="fas fa-user-shield"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px"> Process management is an integral part of any modern-day operating system (OS). The OS must allocate resources to processes, enable processes to share and exchange information, protect the resources of each process from other processes and enable synchronization among processes. To meet these requirements, the OS must maintain a data structure for each process.</p>
                        <a class="btn btn-outline-success btn-block p-3" href="/ModuleReport/ModuloMantenimiento">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Modulo de Nomina-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-primary display-4">Process Module <i class="fas fa-microchip"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px"> Process management is an integral part of any modern-day operating system (OS). The OS must allocate resources to processes, enable processes to share and exchange information, protect the resources of each process from other processes and enable synchronization among processes. To meet these requirements, the OS must maintain a data structure for each process.</p>
                        <a class="btn btn-outline-primary btn-block p-3" href="/ModuleReport/ModuloProcesos">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--MÓDULO DE INFORMES-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-danger display-4">Report Module <i class="fas fa-chalkboard-teacher"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px"> The Reporting Module was designed to provide a feature-rich and user-friendly web interface for managing reports within OpenMRS. In addition, the Reporting Module provides a flexible and extensible API that module developers can develop against to build their own reports and tools. The core idea behind the Reporting Module is to provide a solid foundation so that other dev.</p>
                        <a class="btn btn-outline-danger btn-block p-3" href="/ModuleReport/ModuloReportes">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



