
@{
    ViewBag.Title = "ModuloProcesos";
}

<!doctype html>
<html lang="en">
<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

</head>
<body style="background: #114357;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">  

    <div class="container mt-5">
        <h2 class="display-4 mb-5 ">Process Module</h2>
        <div class="row">
            <!--Roster-->
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-success display-4">Roster <i class="fas fa-money-check-alt"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px"> In a company, the payroll is the sum of the financial records of the salaries of the employees, including salaries, bonuses and deductions. In accounting, payroll refers to the amount paid to employees for services rendered during a certain period of time. Payroll plays an important role in a society for several reason.</p>
                        <a class="btn btn-outline-success btn-block p-3" href="/Nominas/Index">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Payroll-->
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-dark display-4">Payroll <i class="fas fa-money-bill-wave-alt"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px">
                            A payroll is a company's list of its employees, but the term is commonly used to refer to:

                            the total amount of money that a company pays to its employees
                            a company's records of its employees' salaries and wages, bonuses, and withheld taxes
                            the company's department that calculates funds and pays these.
                        </p>
                        <a class="btn btn-outline-dark btn-block p-3" href="/Nominas/MontoNomina">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Exit of employees-->
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-danger display-4">Exit of employees <i class="fas fa-times-circle"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px">
                            Have a clear exit policy
                            The purpose of an employee exit policy is to have a process in place when an employee is leaving your employment (resignation, retirement, end of contract etc) When an employee resigns from their position,they should submit a written letter of resignation to their immediate.
                        </p>
                        <a class="btn btn-outline-danger btn-block p-3" href="/Departures/Index">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Holidays-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-info display-4">Holidays <i class="fas fa-candy-cane"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px"> A holiday is a day set aside by custom or by law on which normal activities, especially business or work including school, are suspended or reduced. Generally, holidays are intended to allow individuals to celebrate or commemorate an event or tradition of cultural or religious significance. Holidays may be designated by governments.</p>
                        <a class="btn btn-outline-info btn-block p-3" href="/Holidays1/Index">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Permissions-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-warning display-4">Permissions <i class="fas fa-users"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px">
                            Most file systems have methods to assign permissions or access rights to specific users and groups of users. These permissions control the ability of the users to view, change, navigate, and execute the contents of the file system.

                            Two types of permissions are very widely used: traditional Unix permissions date back.
                        </p>
                        <a class="btn btn-outline-warning btn-block p-3" href="/Permissions/Index">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Licenses-->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-primary display-4">Licenses <i class="fas fa-id-badge"></i></h3>
                    </div>
                    <div class="card-body">
                        <p style="font-size:14px">
                            A license (American English) or licence (British English)[1] is an official permission or permit to do, use, or own something (as well as the document of that permission or permit).[1]

                            A license can be granted by a party to another party as an element of an agreement between those parties. A shorthand definition of a license.
                        </p>
                        <a class="btn btn-outline-primary btn-block p-3" href="/Licenses/Index">
                            <span style="font-size:14px;">Payroll Process</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





